body{
  font-size: 30px;
}
ol{
  list-style: none;
}

li{
  font-size: 25px;
  font-style: italic;
  line-height: 100px;
  
}
a{
  padding: 20px;
  background: rgb(98, 107, 85);
  border: 3px solid blue;
  border-radius: 30px;
  width: 250px;}
a::hover {
  color:red;

}
  img{
  width: 200px;
  font-style: italic;
  color: rgb(237, 226, 227);
}
script{
  font-size: 30px;
}
table{
  border:5px solid red;
  background:rebeccapurple;
  color:aliceblue;

}

td{
  border:3px solid #00ff5e;
  width: 100px;
  text-align: center;
}
tr{
  height: 100px;
}
.flex-container{
  display:flex;
  justify-content: space-evenly;
}
.wrapper{
  border:1px solid red;
  border-radius:20px;
  max-width: 1200px;
  min-height: 600px;
  background: #7fe710;
  margin: 0 auto;
  text-transform: uppercase;
  text-align: center;
  color:rgb(138, 147, 155);
}
